<h2
        class="py-2 px-4 text-center font-montserrat-bold text-2xl text-grey-dark lg:text-left xl:p-4">
    {{ 'ideas.home'|trans }}
</h2>
<section class="grid grid-cols-1 md:grid-cols-3 gap-2 items-center justify-center content-center">
    {% for idea in ideas %}
        <a class="relative max-w-xl overflow-hidden bg-cover bg-no-repeat group" href="{{ idea.url }}">
            <img
                    src="{{ template_uri() }}/assets/images/ideas/{{ idea.img }}"
                    class="max-w-sm transition duration-300 ease-in-out group-hover:scale-110 group-hover:rotate-0 rounded-lg {% if loop.index is odd %} rotate-6 {% else %} -rotate-6 {% endif %}"
                    alt="idea.img"/>
            <div
                    class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-cta-light bg-fixed opacity-0 transition duration-300 ease-in-out group-hover:opacity-50"></div>
            <div class="absolute bottom-0 left-0 right-0 p-2 sm:p-4">
                <div class="rounded-lg bg-white p-4 text-sm font-bold text-caractere md:text-lg">
                    {{ idea.description }}
                </div>
            </div>
        </a>
    {% endfor %}
</section>