{% if offre.datesEvent|length > 0 %}
    <h3 class="font-montserrat-semi-bold text-cta-light text-md border-bottom">
        {{ 'Date(s)'|trans }}
    </h3>
    <div class="flex flex-col gap-2 mb-2">
        {% for date in offre.datesEvent %}
            {% if loop.index < 15 %}
                <span class="font-montserrat-semi-bold text-cta-dark">
                {{ date|format_date('full')|title }}
            </span>
            {% elseif loop.last and loop.index > 12 %}
                et d'autres dates...
            {% endif %}
        {% endfor %}

        {% if offre.datesDetails|length > 0 %}
            {% if(offre.datesDetails[0].ouvertureHeure1 or offre.datesDetails[0].ouvertureDetails) %}
                <div>
                    <h4 class="font-montserrat-semi-bold text-cta-light">Heure(s)</h4>
                    {% for details in offre.datesDetails %}
                        {% if details.ouvertureHeure1 %} {{ details.ouvertureHeure1 }}h         {% endif %}
                        {% if details.fermetureHeure1 %} - {{ details.fermetureHeure1 }}h         {% endif %}
                        <br/>
                        {% if details.ouvertureHeure2 %} {{ details.ouvertureHeure2 }}h         {% endif %}
                        {% if details.fermetureHeure2 %} - {{ details.fermetureHeure2 }}h         {% endif %}
                        {% if details.ouvertureDetails %}<br/> {{ details.ouvertureDetails }}         {% endif %}
                        <br/>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endif %}
